* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}


.title {
    border: 3px solid rgb(168, 5, 168);
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    font-size: 50px;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}



.lasagna {
    float: left;
}

.cannelloni {
    float: right;
}

.recipes {
    text-align: center;
    margin: 50px;
}

.lasagna-picture {
    float: left;
    margin-left:40px;
}

.cannelloni-picture {
    float: right;
    margin-right: 40px;
}

.parmigiana-picture {
    margin-left: 155px;
}

img {
    height: 400px;
    width: 510px;
    border-radius: 8px;
    margin-top: 50px;
}








